body {
  font-family: Roboto;
  margin: 0;
}

section article {
  height: 100vh;
}

section article:nth-child(1) {
  background: red;
}

section article:nth-child(2) {
  background: blue;
}

section article:nth-child(3) {
  background: green;
}

section article:nth-child(4) {
  background: purple;
}

header {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3vw;
  color: black;
}

.inputvalue {
  width: 100vw;
  text-align: center;
}

input {
  width: 40%;
  border: none;
  border-bottom: 1px solid;
  padding: 1em;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
}

.article {
  height: 20em;
  width: 30em;
}
/* 
.contentwrap {
  width: 13em;
  background: rgb(250, 250, 250);
  padding: 2em;
  border-radius: .2em;
  display: block;
  position: absolute;
  margin-top: -12em;
  margin-left: 15.2em;
  box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.53);
  font-size: 0.8em;
} */

.contentwrap{
  max-width: 100%;
  background: rgba(255, 255, 255, 0.63);
  padding: 2em;
  display: block;
  position: relative;
  font-size: 0.8em;
  top: -7em;
  height: 5.1em;
  opacity: 0;
  transition: 300ms ease-in-out;
}

a:hover ~ #content{
  opacity: 1;
  display: block;
  position: relative;
  top:-9.4em;
}


#content {
  max-width: 100%;
}

.containinfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  
}

h2 {
  font-size: 1.2em;
}

p {
  color: gray;
  font-size: .7em;
  font-weight: 400;
}

img {
  height: 20em;
  width: 30em;
  object-fit: cover;

}

.detail-page{
  height:100%;
  width:100%;
  display: flex;
}
.detail{
  display: flex;
  flex-wrap:wrap;
  margin:auto;
}
.detail img{
  width:35rem;
  padding:1em;
}
.detail-content{
  width:30em;
  align-self: center;
  padding:1em;
}




.detail-content a {
  text-decoration: none;
  color: white;
  padding: .5em;
  background: rgb(158, 39, 85);
  display: block;
  text-align: center;
  border-radius: 1em;
}

@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 10em;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 80px 82px;


}

.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: absolute;
  overflow: hidden;


}

.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-rpinwye8j0b div {
  box-sizing: content-box;

}

/* .detail {
  display: block;
  position: static;
  background: #dedede;
  width: 100%;
  height: 50%;
  z-index: 1;
  justify-content: center;
  align-content: center;
  display: flex;
  top: 0;
  text-align: center;
}
 */
