:root {
  --dark: #000;
  --course: rgb(252, 0, 84);
  --light: #fff;
}
body {
  font-family: Roboto;
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}
main {
  max-width: 860px;
  margin: 10vh auto;
  padding:0 2rem;
}
header {
  background: var(--course);
  color: var(--dark);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 3vw;
  color:white;
}
h2 {
  font-size: 2em;
  margin-top: 1.5em;
}